.card-container {
  break-inside: avoid;
}

.card {
  width: 100% !important;
  height: auto !important;
  margin: 0 0 1em;

  text-align: left;
  border-radius: 0.65rem !important;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  &:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  .card-body {
    text-align: left;
    background-color: #f2f2f2;

    .card-title {
      margin: 0;
      font-size: 20px;
    }

    .card-text:last-child {
      font-size: 16px;
    }

    .card-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .svg-shadow {
        -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
        cursor: pointer;
        &:hover {
          filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
          -webkit-transition: all 150ms ease;
          transition: all 150ms ease;
        }
      }
    }
  }
}

.card-img, .card-img-top {
  opacity: 1;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  &:hover {
    opacity: .8;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
  }
 }  
