@import './Vars.scss';

.navbar-title {
  margin-bottom: 18px;
}

.description {
  margin-bottom: 18px;
  background-color: var(--color-success-500-alpha-1);
}

.App-intro {
  font-size: large;
  color: $textPrimaryColor;
}

.footer{
  font-size: 1rem !important;
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    font-size: .95rem !important; 
  } 
}
