@import './Vars.scss';

.App {
  text-align: center;
}

.App-header {
  background-color: $headerBackgroundColor;
  height: 50px;
  padding: 20px;
  margin-bottom: 40px; 
}

.App-intro {
  font-size: large;
  color: $textPrimaryColor;
}

.footer{
  height: 100px;
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    font-size: .95rem !important; 
  } 
}
