 @import './vars.scss';
 
 // ANIMATIONS
 @keyframes liked {
  from {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

// Flayer Card
.card-container {
  break-inside: avoid;
}

.card {
  width: 100% !important;
  height: auto !important;
  margin: 0 0 1em;

  text-align: left;
  border-radius: 0.65rem !important;
  overflow: hidden;

  -webkit-box-shadow: 0 4px 4px 0 $dropShadow;
  -moz-box-shadow: 0 4px 4px 0 $dropShadow;
  box-shadow: 0 4px 4px 0 $dropShadow;
  -webkit-transition: all 320ms ease;
  transition: all 320ms ease;

  &:hover {
    -webkit-box-shadow: 0 8px 16px 0 $dropShadow;
    -moz-box-shadow: 0 8px 16px 0 $dropShadow;
    box-shadow: 0 8px 16px 0 $dropShadow;
    -webkit-transition: all 320ms ease;
    transition: all 320ms ease;
  }

  .card-body {
    text-align: left;
    background-color: $cardBodyBackgroundColor;

    .card-title {
      margin: 0;
      font-size: 20px;
    }

    .card-text:last-child {
      font-size: 16px;
    }

    .card-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

// Flayer Image
.card-img, .card-img-top {
  -webkit-filter: opacity(100%);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 350ms ease;
  filter: opacity(100%);
  backface-visibility: hidden;
  transition: all 350ms ease;
  cursor: pointer;

  &:hover {
    -webkit-filter: opacity(85%);
    -webkit-transition: all 350ms ease;
    filter: opacity(85%);
    transition: all 350ms ease;
  }
 }  

 // Flayer Button Icons
 .button, .like-button {
  -webkit-filter: none;
  -webkit-transition: all 250ms ease;
  filter: none;
  transition: all 250ms ease;
  cursor: pointer;

  &:hover {
    -webkit-filter: drop-shadow(0 2px 2px $dropShadow);
    -webkit-transition: all 250ms ease;
    filter: drop-shadow(0 2px 2px $dropShadow);
    transition: all 250ms ease;
  }
}

.like-button:not(active) {
  animation: liked .25s ease-in-out;
}

.disabled-button {
  color: $buttonDisabled;
  opacity: .5;
}

// Share List
.popover-body {
  margin: 2px 4px;
}

.share-buttons {
  border-bottom: 1px solid var(--color-neutral-1000-alpha-2);
  > * {
    margin: 0 4px;
  }
  &:focus {
    outline: none !important;
  }
  svg {
    break-inside: avoid;
    &:hover {
      fill-opacity: .9;
    }
  }
  button:focus {
    outline: none !important;
  }
}

.copy-link {
  border-bottom: 0;
  cursor: pointer;
  &:hover {
    background-color: $cardBodyBackgroundColor;
  }
}

.copied-link {
  background-color: $cardBodyBackgroundColor;
  border-bottom: 0;
  cursor: pointer;
}
