.App {
  text-align: center;
}

.App-logo {
  object-fit: cover;
  object-position: 100% 0;
  width: 1000px;
  height: 450px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  margin-bottom: 40px;
}

.App-intro {
  font-size: large;
  color: rgb(189, 86, 210);
  min-height: 720px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
